*{
	margin: 0;
	padding: 0;
	list-style: none;
	/*font-size: 12px;*/
	 -webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-appearance: none;/*安卓不支持*/
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;	
	-webkit-overflow-scrolling: touch;
	<a href="tel:110">请拨打电话110</a>
	<a href="mailto:qq@.com">请发送邮件qq@.com</a>
	-webkit-user-select:none;user-select:none;
	 -webkit-tap-highlight-color:rgba(255,255,255,0); 
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-transform: translate(0,0,0);
	/*transform: translate3d(0, 0, 0);*/
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}
body {-webkit-overflow-scrolling:touch; overflow-scrolling: touch;}
p{max-height:9999999px}


body{
	font-family: helvetica;
}

img{
	display: block;
}

a{
	text-decoration: none;
}
/*html{
	font-size: 85px;
}*/


.box{
	width: 100%;
	height: 2.13rem;
	position: relative;
}
.top{
	width: 100%;
	height: 0.41rem;
	z-index: 99;
	position: fixed;
	top:0;
	left: 0;
	background: rgba(29,79,140,0.7);
	display: flex;
}
.top ul{
	width: 100%;
	height: 0.41rem;
}
.top ul li{
	width: 20%;
	height: 0.41rem;
	text-align: center;
	float: left;
	font-size: 0.16rem;
	line-height: 0.41rem;
	color:#fff;	
}
.top ul li a{
	width: 100%;
	height: 0.41rem;
	text-align: center;
	float: left;
	font-size: 0.16rem;
	line-height: 0.41rem;
	color:#fff;	
}
.shouye{
	width: 3.5rem;
	height: 0.32rem;
	margin:0 auto;
	font-size: 0.14rem;
	line-height: 0.32rem;
	font-weight: bold;
}
.xinwen{
	width: 3.5rem;
	height: 8rem;
	margin: 0.2rem auto;
}
.xinwen1{
	width: 3.26rem;
	height: 1.6rem;
	margin: 0 auto;
	position: relative;
}
.xinwen1-1{
	width: 100%;
	height: 0.2rem;
	font-size: 0.14rem;
	font-weight: bold;
	line-height: 0.2rem;
}
.xinwen1-2{
	width: 1.04rem;
	height: 0.8rem;
	position: relative;
}
.xinwen1-2-1{
	width: 0.98rem;
	height: 0.73rem;
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
}
.xinwen1-2-2{
	width: 0.98rem;
	height: 0.73rem;
	position: absolute;
	right: 0;
	top: 0;
}
.xinwen1-3{
	width: 2.13rem;
	height: 0.75rem;
	font-size: 0.14rem;
	position: absolute;
	top: 0.2rem;
	right: 0;
}
.xinwen1-4{
	width: 100%;
	height: 0.3rem;
	margin-top: 0.1rem;
	border-top:0.011rem solid #000;
	border-bottom:0.011rem solid #000;
	line-height: 0.3rem;
	display: flex;
}
.xinwen1-4-1{
	width: 0.16rem;
	height: 0.16rem;
	background-image: url(../img/media_icon.png);
    background-size: cover;
    margin-top: 0.05rem;
}
.xinwen1-4-2{
	width: 0.6rem;
	height: 0.3rem;
	font-size: 0.12rem;
	color: #ccc;
}
.xinwen1-4-3{
	width: 0.16rem;
	height: 0.16rem;
	background-image: url(../img/media_icon.png);
    background-position: -0.7rem 0;
    background-size: cover;
    margin-top: 0.05rem;
    margin-left: 0.1rem;
}
.xinwen1-4-4{
	width: 0.8rem;
	height: 0.3rem;
	font-size: 0.12rem;
	color: #ccc;
}
.xinwen1-5{
	width: 1.02rem;
	height: 0.3rem;
	float: right;
}
.xinwen1-5-1{
	width: 0.16rem;
	height: 0.16rem;
	background: url(../img/media_icon.png);
    background-position: -0.33rem 0;
    background-size: cover;
    float: left;
}
.xinwen1-5-2{
	width: 1rem;
	height: 0.2rem;
	font-size: 0.12rem;
	color: #ccc;
}















.fanye{
	width: 3.27rem;
	height: 0.25rem;
	margin: 0.1rem auto;
	display: flex;
}
.left{
	width: 0.25rem;
	height: 0.25rem;
	background: #01B5FF;
	border-radius: 50%;
}
.shangyiye{
	width: 0.75rem;
	height: 0.25rem;
	background: #01B5FF;
	margin-left: 0.15rem;
	border-radius: 0.15rem;
	
}
.diyiye{
	width: 0.7rem;
	height: 0.25rem;
	margin-left: 0.15rem;
	border-radius: 0.15rem;
	border:0.015rem  solid #01B5FF;
	font-size: 0.14rem;
	text-align: center;	
	line-height: 0.25rem;
}
.right{
	width: 0.25rem;
	height: 0.25rem;
	background: #01B5FF;
	border-radius: 50%;
	margin-left: 0.15rem;
}

.banquan{
	width: 100%;
	height: 0.4rem;
	background: #DBE5F0;
}
.banquan1{
	width: 100%;
	height: 0.2rem;
	float: left;
	font-size: 0.12rem;
	color: #000;
	text-align: center;
}
.banquan2{
	width: 100%;
	height: 0.2rem;
	float: left;
	font-size: 0.12rem;
	color: #000;
	text-align: center;
}


.fixed{
	width: 100%;
	height:auto;
	background:#e7e7e7;
	position: fixed;
	z-index:999;
	bottom: 0;
}
.fixed .box11{
	width: 30%;
	height: 0.5rem;
	background-color: #E7E7E7;
	line-height: 0.5rem;
	float: left;
	padding:0 2%;
	box-sizing: border-box;
}
.fixed .icon-qq01{
	display: block;
	font-size:0.3rem;
	float: left;
}
.fixed .span5{
	display: block;
	font-size: 0.16rem;
	color: #797979;
	margin-top: 0.02rem;
}
.fixed .box12{
	width: 30%;
	height:0.5rem;
	background-color: #E7E7E7;
	line-height: 0.5rem;
	float:right;
	padding:0 2%;
	box-sizing: border-box;
}
.fixed .icon-duanxin2-lg{
	display: block;
	font-size:0.18rem;
	float: left;
	margin-left: 3%;
	margin-top: 0.02rem;'
}
.fixed .span7{
	display: block;
	font-size: 0.16rem;
	color: #797979;
	margin-top: 0.02rem;
	margin-left: 0.25rem;
}
.fixed .span6{
	display: block;
	font-size: 0.18rem;
	color: #797979;
	color: #fff;
	font-weight:bold;
	margin-left: 0.3rem;

}
.fixed .box13{
	width: 40%;
	height:0.45rem;
	background-color: #FF8D12;
	line-height: 0.45rem;
	float:left;
	padding:0 4%;
	box-sizing: border-box;
	border-radius: 5% 5%;
	position: absolute;
	bottom: 0.05rem;
	left: 30%;
	box-shadow:0 0 5px 5px #FF8D12;
}
.fixed .icon-dianhua-copy{
	display: block;
	font-size:0.25rem;
	float: left;
	color: #fff;
}
